<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>CFBundleDisplayName</key>
	<string>MVPBuzz</string>
	<key>CFBundleIdentifier</key>
	<string>com.fizolabs.mvp</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>MVPBuzz</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.fizolabs.mvp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fizolabs.mvp</string>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DarkBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_darkblue</string>
				</array>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_black</string>
				</array>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon_white</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>nl</string>
		<string>no</string>
		<string>bs</string>
		<string>hu</string>
		<string>it</string>
		<string>hu</string>
		<string>tr</string>
		<string>sv</string>
		<string>fr</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>MVPBuzz does not require your contacts</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MVPBuzz does not require your calendar</string>
	<key>NSMicrophoneUsageDescription </key>
	<string>MVPBuzz does not require your microphone</string>
	<key>NSAppleMusicUsageDescription </key>
	<string>MVPBuzz does not require access to your Apple Music</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MVPBuzz does not require your location</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>MVPBuzz does not require access to your Bluetooth</string>
</dict>
</plist>
